*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 600px){
    body{ color: red;}
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
    body{ color: blue;}
}
@media only screen and (min-width: 901px) {
    body{ color: black;}
}
        
body{
    background-color: #011b33;
    font-size: 20px;
    width: 100%;
    min-height: 100vh;
    place-items: center;
    display:grid;
}
.image{
    display: flex;
    gap:10px;
}
.trouble{
    width:20px;
    height: 30px;
}
.content{
    background-color: white;
    width: 300px;
    height: 300px;
}
.output{
    display: block;
    width: 90%;
    padding: 10px 10px;
    margin: 20px ;
}
.white{
    color: white
}
.black{
    text-align: center;
}
.log{
    margin: 20px;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
}
.btn{
    text-align: center;
    padding-top: 20px;
}
button{
    background-color: rgb(126, 224, 126);
    color: white;
    border-radius:5px;
    padding: 10px 10px;
    width: 90%;
    border: 1px solid rgb(126, 224, 126);
    font: 18px;
}
.not-body{
    display:grid;
    place-items: center;
    padding: 20px;
}
.all-white{
    background-color: white;
    width: 400px;
}
.create{
    text-align: center;
}
.btn4{
    text-align: center;
}
.photo{
    width: 60px;
    height: 40px;
    left: 200px;
}
.account{
    color: white;
}
input[type="radio"] {
    left: -20px;
}
.form-body{
    display: block;
}
.please{
    display: block;
    padding: 10px 10px;
    width: 80%;
    margin: 20px;
}
select{
    display: block;
    padding: 10px 10px;
    width: 80%;
    margin: 10px;
}
.img-right{
    padding-left: 500px;
}
.blue{
    color: blue;
}
.lex{
    display:flex;
}
.info3{
    display:flex;
    justify-content:space-between;
}
label{
    margin: 20px;
    font-weight: 300;
}
.merge2{
    margin: 20px;
}
.info{
    padding: 10px;
}
.merge{
    margin: 20px;
    pading: 10px;
}
.info1{
    padding: 5px;
}
.info2{
    padding: 10px;
}
